@import "vars"




/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

	.slider

		.slide
			min-height: 700px 
			
			&2__img
				background-position: center

	
	// ------------------------ form -------------------------------
	.mail
		height: 100%
		padding-top: 20px 
		
		.form
			&::after
				top: -62px
				right: -65px 

			.shedule-wrap
				top: 25%
				&::before
					left: 104%

			.select-wrap
				text-align: center
				margin-bottom: 20px
				select
					position: static
					padding-right: 8%
					width: 60%
			.tel-wrap
				text-align: center
				input[type="tel"]
					position: static
					width: 60%
					
			.btn-wrap
				top: 25%
				padding-left: 0 
				
				&::before
					left: -50px
	// ------------------------ form end -------------------------------
		

	.about
		line-height: 1.2
		
		.img-wrap
			img
				max-width: 150% 
				
		.hotel
			.timetable
				margin-top: 30px 



	.advantages
	
		.all-inclusive
			font-size: 2em 














	/**/









/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

	.nav
		ul
			text-align: center

	.slider
		font-size: 0.9em
		
		.slide3_heading
			top: 40%

		.slide4_heading
			top: 35%
			
			h1
				margin-top: 0
				margin-bottom: 20px 
				
			.heading_date
				margin-top: 0
		

	// ------------------------ form -------------------------------
	.mail
		padding-bottom: 30px 
		
		.form
			&::after
				display: none
			.shedule-wrap
				text-align: center
				margin-bottom: 30px 
				
				&::before
					left: 20%
					top: 25% 
					
				a.shedule
					position: static


			.btn-wrap
				text-align: center
				&::before
					left: 20%
					top: 35% 
				.btn
					position: static
	// ------------------------ form end -------------------------------



	.about
		padding: 10px 0
		
		.img-wrap
			img
				max-width: 100% 
				
		.hotel

			h3, .atemption
				text-align: center
			
			h3
				margin-top: 20px 

			.timetable
				padding-right: 0

			ul.timetable_list
				width: 50%
				margin-bottom: 15px
				
				li
					padding-left: 50px 

	.advantages
		padding-top: 70px 
		background-size: cover
		h3
			text-align: center
		figure
			margin-bottom: 30px 
			
		&::after
			display: none


	.achievements
		padding: 50px 0
		background-size: 290% 153%
		background-position: 50% -520px 
		
		.achievments_item
			margin-bottom: 50px 









	/**/











/* Small Devices, Tablets */
@media only screen and (max-width : 768px)


	// ------------------------- menu start ----------------------
	.nav
		height: 100%
		display: none
		min-width: 260px
		position: fixed
		top: 75px
		right: 10% 
		z-index: 999

		ul
			display: block
			background-color: #FFF  
			 
		li 
			display: block
			padding: 0
			text-align: center
			opacity: .8
			border-bottom: 1px solid rgba(255,255,255,.9)
			
			&:hover
					background-color: rgba(0,0,0,.3) 

		a
			display: inline-block
			padding: 10px 0
			text-transform: uppercase
			transition: all .5s
			
			&::after
				display: none
			
	.toggle-menu
		display: inline-block
		right: 10% 
	// ------------------------- menu end ----------------------


	.slider
		font-size: .7em 
		
		.slide
			min-height: 500px 
		
			&__img
				background-size: auto
				
			&1__img
				background-position: -500px 
		
			&_heading
				top: 30%


	// ------------------------form-------------------------------
	.mail

		.form

			.shedule-wrap
				
				&::before
					width: 28px
					height: 33px
					background-size: 28px 33px 
					
			.btn-wrap
				margin-top: 5px 

				&::before
					display: none

				.btn
					width: 60%
	// ------------------------ form end -------------------------------


	.about
		.img-wrap
			&::after
				background-size: 60% 100%
				
		.hotel

			ul.timetable_list
				width: 70%
				margin: 0 auto 15px


	.advantages
		.all-inclusive
			font-size: 1.5em 


	.achievements
		background-size: 290% 153%
		background-position: 50% -520px 





	/**/









@media only screen and (max-width : 576px)
	
	.slider
		font-size: .6em
		 
		.slide_heading
			top: 20%


	.achievements
		background-size: 525% 155%
		background-position: 50% -520px 






	/**/














/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

	.slider

		.slide
			&_heading
				h2
					font-size: 37px
					
				.heading_date
					font-size: 1.4em 
					 		
			&2_heading
				.dear-friends
					line-height: 1
				.text
					margin-bottom: 45px 
					


	.about
		font-size: .9em 
		line-height: 1.4
		.img-wrap
			&::after
				background-size: 60% 100%
				
		.hotel

			ul.timetable_list
				width: 90%
				margin: 0 auto 15px
				font-size: 1.2em 
				
				li
					padding-left: 35px


	// ------------------------form-------------------------------
	.mail
		.form
			.shedule-wrap
				&::before
					display: none

			.select-wrap
				select
					width: 90%

			.tel-wrap
				input[type="tel"]
					width: 90%

					
			.btn-wrap
				.btn
					width: 90%


	.achievements
		font-size: .9em 






	/**/


















/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)





	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

